@import 'theme';
@import 'layout_constants';
@import 'icons';

$chat_room_title_height: 60px;
$unlock_button_dimension: 25px;

.chat-room-col {
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  .nav-open & {
    left: $SIDE_BAR_WIDTH;
  }

  .settings-open & {
    right: $SIDE_BAR_WIDTH;
  }

}

//Mobile in portrait
@media screen and (max-width:767px){

  .settings-open {
    //Create off canvas effect
    .chat-room-col {
      left: -1 * $SIDE_BAR_WIDTH;
      right: $SIDE_BAR_WIDTH;
    }
  }

  .nav-open {
    //This should not happen on mobile, but could happen in resizing on desktop
    &.settings-open {
      .settings-panel {
        display: none;
      }
    }
    //Create off canvas effect
    .chat-room-col {
      right: -1 * $SIDE_BAR_WIDTH;
      left: $SIDE_BAR_WIDTH;
    }
  }
}

.chat-room-header {
  background: $LIGHT_BACKGROUND_COLOR;
  border-bottom: 1px solid $BORDER_COLOR;
  padding: 10px;
  text-align: left;
  color: $PRIMARY_HEADER_COLOR;
  height: $chat_room_title_height;

  .chat-room-name {
    margin-bottom: 3px;
  }

  .display-user-name, .text-renderer-view, .text-renderer-edit {
    height: 30px;
    font-size: 20px;
  }

  .display-user-name {
    padding: 5px 0 5px 0;
  }

  &.locked {
    .chat-room-name {
      width: calc(100% - #{$unlock_button_dimension});
      float: left;
    }

    .close-button {
      float: right;
      @include close-button($unlock_button_dimension);
    }
  }

  .details {
    font-size: 10px;
  }
}

.chat-room {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;

  .multiple-rooms & {
    width: $MULTI_CHAT_ROOM_WIDTH;
    border-right: 1px solid $BORDER_COLOR;
  }

  .message-list {
    position: absolute;
    top: $chat_room_title_height;
    bottom: 40px;
    width: 100%;
    overflow: auto;
  }

  form.new-message-form {
    border-top: 1px solid $BORDER_COLOR;
    position: absolute;
    height: 45px;
    bottom: 0;
    width: 100%;
    background: $LIGHT_BACKGROUND_HOVER_COLOR;
    padding: 10px;

    input {
      padding: 5px;
      width: 100%;
    }
  }
}