@import 'theme';
@import 'layout_constants';

$chat_room_title_height: 60px;

.chat-room-col {
  display: inline-block;
  box-sizing: border-box;
  width: calc(100% - #{$SIDE_BAR_WIDTH});
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.chat-room-header {
  background: $LIGHT_BACKGROUND_COLOR;
  border-bottom: 1px solid $BORDER_COLOR;
  padding: 10px;
  text-align: left;
  color: $PRIMARY_HEADER_COLOR;
  height: $chat_room_title_height;

  .chat-room-name {
    margin-bottom: 3px;
    .text-renderer-view, .text-renderer-edit {
      height: 30px;
      font-size: 20px;
    }
  }

  .details {
    font-size: 10px;
  }
}

.chat-room {
  .message-list {
    position: absolute;
    top: $chat_room_title_height;
    bottom: 40px;
    width: 100%;
    overflow: auto;
  }

  form.new-message-form {
    border-top: 1px solid $BORDER_COLOR;
    position: absolute;
    height: 45px;
    bottom: 0;
    width: 100%;
    background: $LIGHT_BACKGROUND_HOVER_COLOR;
    padding: 10px;

    input {
      padding: 5px;
      width: 100%;
    }
  }
}