@import 'theme';
@import 'icons';

$MISSED_MESSAGE_WIDTH: 50px;

.chat-room-list-item {
  &.active {
    background-color: $LIGHT_BACKGROUND_HOVER_COLOR;
  }

  &.missing-messages {
    -webkit-animation: newPulse 2s infinite; /* Chrome, Safari, Opera */
    animation: newPulse 2s infinite;
    .action-icons {
      .new-message-indicator {
        display: inline-block;
      }
    }
    .room-name {
      max-width: calc(100% - #{$MISSED_MESSAGE_WIDTH});
    }
  }
  .action-icons {
    float: right;
    width: $MISSED_MESSAGE_WIDTH;
    .new-message-indicator {
      display: none;
    }
    .close-button {
      float: right;
      @include close-button(20px);
    }
  }

  .room-name {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}