@import 'theme';
@import 'layout_constants';

header {
  background: $HEADER_BACKGROUND_COLOR;
  border-bottom: 1px solid black;
  padding: 10px;
  height: $LAYOUT_HEIGHT;
  box-sizing: border-box;
  text-align: center;

  &:before, &:after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
  }

  &:before {
    background-image: url(../../assets/images/logos/react.png);
  }

  &:after {
    background-image: url(../../assets/images/logos/flux.png);
  }

  .title {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-family: $HEADER_FONT;
    font-size: 25px;
  }

  .settings-icon {
    float: right;
    background-image: url(../../assets/images/icons/settings.png);
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: cover;

    &.active {
      background-image: url(../../assets/images/icons/settings-active.png);
    }
  }

  .list-icon {
    float: left;
  }
}