@import "reset";
@import 'theme';
@import 'layout_constants';
@import 'chat_room';
@import 'header';
@import 'message';
@import 'settings';
@import 'navigation_panel';
@import 'welcome_panel';
@import 'text_renderer';
@import 'chat_room_manager';
@import 'chat_room_list_item';
@import 'toggle_navigation_button';
@import 'toggle_settings_button';

body {
  font-family: 'Open Sans', sans-serif;
}

div, form, input, header {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.app-content {
  position: absolute;
  top: $LAYOUT_HEIGHT;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}