@import 'theme';
@import 'layout_constants';

$author_col_width: 170px;

.message {
  border-bottom: 1px solid $MESSAGE_SEPERATOR_COLOR;
  padding: 15px;

  .info {
    display: inline-block;
    width: $author_col_width;
    text-align: right;
    padding-right: 20px;
    color: $AUTHOR_TEXT_COLOR;
    vertical-align: top;

    .date-time {
      color: $DATE_TEXT_COLOR;
      font-size: 12px;
    }
  }
  .content {
    display: inline-block;
    width: calc(100% - #{$author_col_width});

    .text-renderer-view, .text-renderer-edit {
      font-size: 16px;
    }

    .text-renderer-edit {
      height: 26px;
    }
  }
}