@import 'theme';
@import 'layout_constants';

.chat-side-bar {
  background: $LIGHT_BACKGROUND_COLOR;
  display: inline-block;
  box-sizing: border-box;
  width: $SIDE_BAR_WIDTH;
  border-right: 1px solid $BORDER_COLOR;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.room-list{

  &:before {
    color: $PRIMARY_HEADER_COLOR;
    padding: 10px;
    content: "ROOMS";
  }

  li {
    padding: 10px;
    &:hover {
      background-color: $LIGHT_BACKGROUND_HOVER_COLOR;
    }
  }
}

.new-chat-room {
  padding: 10px;
  color: $HEADER_BACKGROUND_COLOR;
  font-weight: bold;

  &:hover {
    background-color: $LIGHT_BACKGROUND_HOVER_COLOR;
  }
}