@import 'theme';
$borderProperties: 1px solid $BORDER_COLOR;

.search-box {
  padding: 15px;
  .search-box-wrapper {
    position: relative;
    input {
      width: 100%;
      margin-bottom: 5px;
      padding: 5px;
      font-size: 16px;
      border-radius: 5px;
    }
    .search-results {
      border-radius: 5px;
      width: 100%;
      position: absolute;
      border: $borderProperties;
      box-shadow: 0px 2px 2px #000000;
      overflow-y: auto;


      .user-search-result, .chat-room-search-result, .no-search-results {
        background: $LIGHT_BACKGROUND_COLOR;
        padding: 10px;
        border-top: $borderProperties;

        &:hover {
          background: $LIGHT_BACKGROUND_HOVER_COLOR;
        }
      }

      .user-results, .room-results {
        &:before {
          color: $PRIMARY_HEADER_COLOR;
          display: block;
          padding: 5px;
          border-top: $borderProperties;
          background: $LIGHT_BACKGROUND_HOVER_COLOR;
        }
      }

      .user-results {
        &:before {
          content: "USERS"
        }
      }

      .room-results {
        &:before {
          content: "ROOMS"
        }
      }
    }
  }
}