@import 'theme';
@import 'layout_constants';
@import 'icons';

.settings-panel {
  background: $LIGHT_BACKGROUND_COLOR;
  width: $SIDE_BAR_WIDTH;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  border-left: 1px solid $BORDER_COLOR;

  h1, .dialog-footer {
    background-color: $LIGHT_BACKGROUND_COLOR;
    padding: 10px 15px;
  }

  h1 {
    color: $PRIMARY_HEADER_COLOR;
  }

  .dialog-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    input {
      width: 100%;
      padding: 5px;
      display: block;
      background: transparent;
      font-size: 15px;
      border: 1px solid $BORDER_COLOR;
      border-radius: 5px;

      &:hover {
        background: $LIGHT_BACKGROUND_HOVER_COLOR;
      }
    }
  }

  form {
    padding: 15px;

    label {
      display: block;
      text-align: left;
      margin-bottom: 10px;
    }

    input {
      width: 100%;
      padding: 5px;
      border-radius: 5px;
      font-size: 15px;
    }
  }
}