$HEADER_BACKGROUND_COLOR: #0F4B84;
$LIGHT_BACKGROUND_COLOR: #F5F5F5;

$LIGHT_BACKGROUND_HOVER_COLOR: #E9E9E9;

$BORDER_COLOR: #CCCCCC;

$PRIMARY_HEADER_COLOR: #838383;
$AUTHOR_TEXT_COLOR: #707070;
$DATE_TEXT_COLOR: #999999;

$MESSAGE_SEPERATOR_COLOR: #EFEFEF;

$HEADER_FONT: sans-serif;